extends ../../layout/default.pug

block css
  
block js
  

block main
  div(class="page-header")
    div(class="add-item d-flex")
      div(class="page-title")
        h4(class="fw-bold") Thêm thương hiệu
        h6 Thêm mới thương hiệu của bạn
    ul(class="table-top-head")
      li
        a(data-bs-toggle="tooltip", data-bs-placement="top", title="Refresh")
          i(class="ti ti-refresh")
      li
        a#collapse-header(data-bs-toggle="tooltip", data-bs-placement="top", title="Collapse")
          i(class="ti ti-chevron-up")
    div(class="page-btn mt-0")
      a(href="product-list.html", class="btn btn-secondary")
        i(data-feather="arrow-left", class="me-2")
        | Quay lại danh sách
