extends ../../layout/default.pug

block css
  //- Datetimepicker CSS
  link(rel="stylesheet", href="/admin/assets/css/bootstrap-datetimepicker.min.css")
  //- animation CSS
  link(rel="stylesheet", href="/admin/assets/css/animate.css")
  //- Quill CSS
  link(rel="stylesheet", href="/admin/assets/plugins/quill/quill.snow.css")
  //- Datatable CSS
  link(rel="stylesheet", href="/admin/assets/css/dataTables.bootstrap5.min.css")

block js
  //- Datatable JS
  script(src="/admin/assets/js/jquery.dataTables.min.js")
  script(src="/admin/assets/js/dataTables.bootstrap5.min.js")
  //- Datetimepicker JS
  script(src="/admin/assets/js/moment.min.js")
  script(src="/admin/assets/js/bootstrap-datetimepicker.min.js")
  //- Quill JS
  script(src="/admin/assets/plugins/quill/quill.min.js")

block main
  div(class="page-header")
    div(class="add-item d-flex")
      div(class="page-title")
        h4(class="fw-bold") Purchase Returns
        h6 Manage your purchase return
    ul(class="table-top-head")
      li
        a(data-bs-toggle="tooltip", data-bs-placement="top", title="Pdf")
          img(src="/admin/assets/img/icons/pdf.svg", alt="img")
      li
        a(data-bs-toggle="tooltip", data-bs-placement="top", title="Excel")
          img(src="/admin/assets/img/icons/excel.svg", alt="img")
      li
        a(data-bs-toggle="tooltip", data-bs-placement="top", title="Refresh")
          i(class="ti ti-refresh")
      li
        a#collapse-header(data-bs-toggle="tooltip", data-bs-placement="top", title="Collapse")
          i(class="ti ti-chevron-up")
    div(class="page-btn")
      a(href="purchase-returns.html#", class="btn btn-primary", data-bs-toggle="modal", data-bs-target="#add-sales-new")
        i(class="ti ti-circle-plus me-1")
        | Add Sales Return
  //- /product list
  div(class="card")
    div(class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3")
      div(class="search-set")
        div(class="search-input")
          span(class="btn-searchset")
            i(class="ti ti-search fs-14 feather-search")
      div(class="d-flex table-dropdown my-xl-auto right-content align-items-center flex-wrap row-gap-3")
        div(class="dropdown me-2")
          a(href="javascript:void(0);", class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center", data-bs-toggle="dropdown")
            | Status
          ul(class="dropdown-menu  dropdown-menu-end p-3")
            li
              a(href="javascript:void(0);", class="dropdown-item rounded-1") Paid
            li
              a(href="javascript:void(0);", class="dropdown-item rounded-1") Unpaid
        div(class="dropdown")
          a(href="javascript:void(0);", class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center", data-bs-toggle="dropdown")
            | Sort By : Last 7 Days
          ul(class="dropdown-menu  dropdown-menu-end p-3")
            li
              a(href="javascript:void(0);", class="dropdown-item rounded-1") Recently Added
            li
              a(href="javascript:void(0);", class="dropdown-item rounded-1") Ascending
            li
              a(href="javascript:void(0);", class="dropdown-item rounded-1") Desending
            li
              a(href="javascript:void(0);", class="dropdown-item rounded-1") Last Month
            li
              a(href="javascript:void(0);", class="dropdown-item rounded-1") Last 7 Days
    div(class="card-body p-0")
      div(class="table-responsive")
        table(class="table datatable")
          thead(class="thead-light")
            tr
              th
                label(class="checkboxs")
                  input#select-all(type="checkbox")
                  span(class="checkmarks")
              th Product Image
              th Date
              th Supplier Name
              th Reference
              th Status
              th Total
              th Paid
              th Due
              th Payment Status
              th(class="no-sort")
          tbody
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/stock-img-01.png", alt="product")
              td 24 Dec 2024
              td Electro Mart
              td PT001
              td
                span(class="badges status-badge fs-10 p-1 px-2 rounded-1") Received
              td $1000
              td $1000
              td $0.00
              td
                span(class="p-1 pe-2 rounded-1 text-success bg-success-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Paid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/stock-img-06.png", alt="product")
              td 10 Dec 2024
              td Quantum Gadgets
              td PT002
              td
                span(class="badges status-badge badge-pending fs-10 p-1 px-2 rounded-1") Pending
              td $1500
              td $0.00
              td $1500
              td
                span(class="p-1 pe-2 rounded-1 text-danger bg-danger-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Unpaid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/stock-img-02.png", alt="product")
              td 27 Nov 2024
              td Prime Bazaar
              td PT003
              td
                span(class="badges status-badge fs-10 p-1 px-2 rounded-1") Received
              td $1500
              td $1800
              td $0.00
              td
                span(class="p-1 pe-2 rounded-1 text-success bg-success-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | paid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/stock-img-03.png", alt="product")
              td 18 Nov 2024
              td Gadget World
              td PT004
              td
                span(class="badges status-badge fs-10 p-1 px-2 rounded-1") Received
              td $2000
              td $1000
              td $1000
              td
                span(class="p-1 pe-2 rounded-1 text-warning bg-warning-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Overdue
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/stock-img-04.png", alt="product")
              td 06 Nov 2024
              td Volt Vault
              td PT005
              td
                span(class="badges status-badge fs-10 p-1 px-2 rounded-1") Received
              td $800
              td $800
              td $0.00
              td
                span(class="p-1 pe-2 rounded-1 text-success bg-success-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Paid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/stock-img-05.png", alt="product")
              td 25 Oct 2024
              td Elite Retail
              td PT006
              td
                span(class="badges status-badge badge-pending fs-10 p-1 px-2 rounded-1") Pending
              td $750
              td $0.00
              td $750
              td
                span(class="p-1 pe-2 rounded-1 text-danger bg-danger-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Unpaid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/expire-product-01.png", alt="product")
              td 14 Oct 2024
              td Prime Mart
              td PT007
              td
                span(class="badges status-badge fs-10 p-1 px-2 rounded-1") Received
              td $1300
              td $1300
              td $0.00
              td
                span(class="p-1 pe-2 rounded-1 text-success bg-success-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Paid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/expire-product-02.png", alt="product")
              td 14 Oct 2024
              td NeoTech Store
              td PT008
              td
                span(class="badges status-badge fs-10 p-1 px-2 rounded-1") Received
              td $1100
              td $1100
              td $0.00
              td
                span(class="p-1 pe-2 rounded-1 text-success bg-success-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Paid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/expire-product-03.png", alt="product")
              td 20 Sep 2024
              td Urban Mart
              td PT009
              td
                span(class="badges status-badge badge-pending fs-10 p-1 px-2 rounded-1") Pending
              td $2300
              td $2300
              td $0.00
              td
                span(class="p-1 pe-2 rounded-1 text-success bg-success-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Paid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")
            tr
              td
                label(class="checkboxs")
                  input(type="checkbox")
                  span(class="checkmarks")
              td
                a(class="avatar avatar-md me-2")
                  img(src="/admin/assets/img/products/expire-product-04.png", alt="product")
              td 10 Sep 2024
              td Travel Mart
              td PT010
              td
                span(class="badges status-badge badge-pending fs-10 p-1 px-2 rounded-1") Pending
              td $1700
              td $1700
              td $0.00
              td
                span(class="p-1 pe-2 rounded-1 text-success bg-success-transparent fs-10")
                  i(class="ti ti-point-filled me-1 fs-11")
                  | Paid
              td(class="action-table-data")
                div(class="edit-delete-action")
                  a(class="me-2 p-2", href="purchase-returns.html#", data-bs-toggle="modal", data-bs-target="#edit-sales-new")
                    i(data-feather="edit", class="feather-edit")
                  a(data-bs-toggle="modal", data-bs-target="#delete-modal", class="p-2", href="javascript:void(0);")
                    i(data-feather="trash-2", class="feather-trash-2")