extends ../../layout/default.pug

block css
  //- animation CSS
  link(rel="stylesheet", href="/admin/assets/css/animate.css")
  //- Tabler Icon CSS
  link(rel="stylesheet", href="/admin/assets/plugins/tabler-icons/tabler-icons.min.css")
  //- Color Picker Css
  link(rel="stylesheet", href="/admin/assets/plugins/@simonwep/pickr/themes/nano.min.css")

block js
  //- Sticky-sidebar
  script(src="/admin/assets/plugins/theia-sticky-sidebar/ResizeSensor.js")
  script(src="/admin/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js")
  //- Color Picker JS
  script(src="/admin/assets/plugins/@simonwep/pickr/pickr.es5.min.js")
  //- Custom JS
  script(src="/admin/assets/js/theme-colorpicker.js")

block main
  div(class="settings-content")
    div(class="page-header settings-pg-header")
      div(class="add-item d-flex")
        div(class="page-title")
          h4 Settings
          h6 Manage your settings on portal
      ul(class="table-top-head")
        li
          a(data-bs-toggle="tooltip", data-bs-placement="top", title="Refresh")
            i(class="ti ti-refresh")
        li
          a#collapse-header(data-bs-toggle="tooltip", data-bs-placement="top", title="Collapse")
            i(class="ti ti-chevron-up")
    div(class="row")
      div(class="col-xl-12")
        div(class="settings-wrapper d-flex")
          include ./partials/sidebar2.pug
          div(class="card flex-fill mb-0 w-50")
            div(class="card-header d-flex align-items-center justify-content-between")
              h4 Bank Account
              div(class="page-btn")
                a(href="bank-settings-grid.html#", class="btn btn-primary", data-bs-toggle="modal", data-bs-target="#add-account")
                  i(class="ti ti-circle-plus me-1")
                  | Add New Account
            div(class="card-body pb-0")
              div(class="row")
                div(class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6")
                  div(class="card bank-box active")
                    div(class="card-body")
                      div(class="mb-4")
                        h5(class="mb-1") Karur vysya bank
                        p **** **** 1982
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          span(class="fs-13") Holder Name
                          h6 John Smith
                        div(class="hstack gap-2 fs-15")
                          a(href="bank-settings-grid.html#", class="btn btn-icon btn-sm btn-info-light", data-bs-toggle="modal", data-bs-target="#edit-account")
                            i(data-feather="edit", class="feather-edit")
                          a(href="bank-settings-grid.html#", class="btn btn-icon btn-sm btn-danger-light", data-bs-toggle="modal", data-bs-target="#delete-modal")
                            i(data-feather="trash-2", class="feather-trash-2")
                div(class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6")
                  div(class="card bank-box")
                    div(class="card-body")
                      div(class="mb-4")
                        h5(class="mb-1") Swiss Bank
                        p **** **** 1796
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          span Holder Name
                          h6 Andrew
                        div(class="hstack gap-2 fs-15")
                          a(href="bank-settings-grid.html#", class="btn btn-icon btn-sm btn-info-light", data-bs-toggle="modal", data-bs-target="#edit-account")
                            i(data-feather="edit", class="feather-edit")
                          a(href="bank-settings-grid.html#", class="btn btn-icon btn-sm btn-danger-light", data-bs-toggle="modal", data-bs-target="#delete-modal")
                            i(data-feather="trash-2", class="feather-trash-2")
                div(class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6")
                  div(class="card bank-box")
                    div(class="card-body")
                      div(class="mb-4")
                        h5(class="mb-1") HDFC
                        p **** **** 1832
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          span Holder Name
                          h6 Mathew
                        div(class="hstack gap-2 fs-15")
                          a(href="bank-settings-grid.html#", class="btn btn-icon btn-sm btn-info-light", data-bs-toggle="modal", data-bs-target="#edit-account")
                            i(data-feather="edit", class="feather-edit")
                          a(href="bank-settings-grid.html#", class="btn btn-icon btn-sm btn-danger-light", data-bs-toggle="modal", data-bs-target="#delete-modal")
                            i(data-feather="trash-2", class="feather-trash-2")
