extends ../../layout/default.pug

block css
  //- animation CSS
  link(rel="stylesheet", href="/admin//admin/assets/css/animate.css")
  //- Quill CSS
  link(rel="stylesheet", href="/admin/assets/plugins/quill/quill.snow.css")
  //- Datetimepicker CSS
  link(rel="stylesheet", href="/admin/assets/css/bootstrap-datetimepicker.min.css")
  //- Datatable CSS
  link(rel="stylesheet", href="/admin/assets/css/dataTables.bootstrap5.min.css")
  //- Mobile CSS
  link(rel="stylesheet", href="/admin/assets/plugins/intltelinput/css/intlTelInput.css")
  link(rel="stylesheet", href="/admin/assets/plugins/intltelinput/css/demo.css")

block js
  //- Datatable JS
  script(src="/admin/assets/js/jquery.dataTables.min.js")
  script(src="/admin/assets/js/dataTables.bootstrap5.min.js")
  //- Datetimepicker JS
  script(src="/admin/assets/js/moment.min.js")
  script(src="/admin/assets/js/bootstrap-datetimepicker.min.js")
  //- Quill JS
  script(src="/admin/assets/plugins/quill/quill.min.js")
  //- Sticky-sidebar
  script(src="/admin/assets/plugins/theia-sticky-sidebar/ResizeSensor.js")
  script(src="/admin/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js")
  //- Validation
  script(src="/admin/assets/js/validation.js")
  //- Mobile Input
  script(src="/admin/assets/plugins/intltelinput/js/intlTelInput.js")

block main
  div(class="settings-content")
    div(class="page-header settings-pg-header")
      div(class="add-item d-flex")
        div(class="page-title")
          h4 Settings
          h6 Manage your settings on portal
      ul(class="table-top-head")
        li
          a(data-bs-toggle="tooltip", data-bs-placement="top", title="Refresh")
            i(class="ti ti-refresh")
        li
          a#collapse-header(data-bs-toggle="tooltip", data-bs-placement="top", title="Collapse")
            i(class="ti ti-chevron-up")
    div(class="row")
      div(class="col-xl-12")
        div(class="settings-wrapper d-flex")
          include ./partials/sidebar2.pug
          div(class="card flex-fill mb-0")
            form(action="gdpr-settings.html")
              div(class="card-header")
                h4 GDPR Cookies
              div(class="card-body")
                div(class="localization-info")
                  div(class="row")
                    div(class="col-sm-4")
                      div(class="setting-info")
                        h6 Cookies Consent Text
                    div(class="col-sm-8")
                      div(class="mb-3")
                        textarea(rows="4", class="form-control", placeholder="Type your message")
                  div(class="row align-items-center")
                    div(class="col-sm-4")
                      div(class="setting-info")
                        h6 Cookies Position
                        p Your can configure the type
                    div(class="col-sm-4")
                      div(class="localization-select")
                        select(class="select")
                          option Left
                          option Center
                          option Right
                  div(class="row align-items-center")
                    div(class="col-sm-4")
                      div(class="setting-info")
                        h6 Agree Button Text
                        p Your can configure the text here
                    div(class="col-sm-4")
                      div(class="localization-select d-flex align-items-center")
                        div(class="mb-3")
                          input(type="text", class="form-control", value="Agree")
                  div(class="row align-items-center")
                    div(class="col-sm-4")
                      div(class="setting-info")
                        h6 Decline Button Text
                        p Your can configure the text here
                    div(class="col-sm-4")
                      div(class="localization-select d-flex align-items-center")
                        div(class="mb-3")
                          input(type="text", class="form-control", value="Decline")
                  div(class="row align-items-center")
                    div(class="col-sm-4")
                      div(class="setting-info")
                        h6 Show Decline Button
                        p Your can configure the text here
                    div(class="col-sm-4")
                      div(class="localization-select d-flex align-items-center")
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center me-3")
                          input#user4(type="checkbox", class="check", checked)
                          label(for="user4", class="checktoggle")
                  div(class="row align-items-center")
                    div(class="col-sm-4")
                      div(class="setting-info")
                        h6 Link for Cookies Page
                        p Your can configure the link here
                    div(class="col-sm-6")
                      div(class="localization-select d-flex align-items-center w-100")
                        div(class="mb-3 w-100")
                          input(type="text", class="form-control")
                div(class="d-flex align-items-center justify-content-end")
                  button(type="button", class="btn btn-secondary me-2") Cancel
                  button(type="submit", class="btn btn-primary") Save Changes
