extends ../../layout/default.pug

block css
  //- animation CSS
  link(rel="stylesheet", href="/admin/assets/css/animate.css")
  //- Quill CSS
  link(rel="stylesheet", href="/admin/assets/plugins/quill/quill.snow.css")
  //- Datetimepicker CSS
  link(rel="stylesheet", href="/admin/assets/css/bootstrap-datetimepicker.min.css")
  //- Datatable CSS
  link(rel="stylesheet", href="/admin/assets/css/dataTables.bootstrap5.min.css")

block js
  //- Datatable JS
  script(src="/admin/assets/js/jquery.dataTables.min.js")
  script(src="/admin/assets/js/dataTables.bootstrap5.min.js")
  //- Datetimepicker JS
  script(src="/admin/assets/js/moment.min.js")
  script(src="/admin/assets/js/bootstrap-datetimepicker.min.js")
  //- Quill JS
  script(src="/admin/assets/plugins/quill/quill.min.js")
  //- Sticky-sidebar
  script(src="/admin/assets/plugins/theia-sticky-sidebar/ResizeSensor.js")
  script(src="/admin/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js")

block main
  div(class="settings-content")
    div(class="page-header settings-pg-header")
      div(class="add-item d-flex")
        div(class="page-title")
          h4 Settings
          h6 Manage your settings on portal
      ul(class="table-top-head")
        li
          a(data-bs-toggle="tooltip", data-bs-placement="top", title="Refresh")
            i(class="ti ti-refresh")
        li
          a#collapse-header(data-bs-toggle="tooltip", data-bs-placement="top", title="Collapse")
            i(class="ti ti-chevron-up")
    div(class="row")
      div(class="col-xl-12")
        div(class="settings-wrapper d-flex")
          include ./partials/sidebar2.pug
          div(class="card flex-fill mb-0")
            div(class="card-header")
              h4(class="fs-18 fw-bold") Localization
            div(class="card-body")
              form(action="localization-settings.html")
                div(class="border-bottom mb-3")
                  div(class="card-title-head")
                    h6(class="fs-16 fw-bold mb-3")
                      span(class="fs-18 me-2")
                        i(class="ti ti-list")
                      | 
                      | Basic Information
                  div
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Language
                          p Select Language of the Website
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option English
                            option Spanish
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Language Switcher
                          p To display in all the pages
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          div(class="status-toggle modal-status d-flex justify-content-between align-items-center")
                            input#user3(type="checkbox", class="check", checked)
                            label(for="user3", class="checktoggle")
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Timezone
                          p Select Time zone in website
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option UTC 5:30
                            option (UTC+11:00) INR
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Date format
                          p Select date format to display in website
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option 01 Jan 2025
                            option Jul 22 2025
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Time Format
                          p Select time format to display in website
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option 12 Hours
                            option 24 Hours
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Financial Year
                          p Select year for finance 
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option 2025
                            option 2026
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Starting Month
                          p Select starting month to display  
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option January
                            option February
                            option March
                div(class="border-bottom mb-3")
                  div(class="card-title-head")
                    h6(class="fs-16 fw-bold mb-3")
                      span(class="fs-18 me-2")
                        i(class="ti ti-credit-card")
                      | 
                      | Currency Settings
                  div(class="localization-info")
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Currency
                          p Select Time zone in website
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option USA
                            option India
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Currency Symbol
                          p Select date format to display in website
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option $
                            option €
                            option ¥
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Currency Position
                          p Select time format to display in website
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option $100
                            option $400
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Decimal Separator
                          p Select year for finance
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option .
                            option .
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Thousand Separator
                          p Select starting month to display
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option ,
                            option ,
                div(class="border-bottom mb-3")
                  div(class="card-title-head")
                    h6(class="fs-16 fw-bold mb-3")
                      span(class="fs-18 me-2")
                        i(class="ti ti-map")
                      | 
                      | Country Settings
                  div(class="localization-info")
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="mb-1 fw-medium") Countries Restriction
                          p Select countries restriction
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3")
                          select(class="select")
                            option Allow All Countries
                            option Deny All Countries
                div
                  div(class="card-title-head")
                    h6(class="fs-16 fw-bold mb-3")
                      span(class="fs-18 me-2")
                        i(class="ti ti-map")
                      | 
                      | File Settings
                  div(class="localization-info")
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3")
                          h6(class="fw-medium mb-1") Allowed Files
                          p Select files
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3 w-100")
                          div(class="mb-3")
                            input(class="input-tags form-control", type="text", data-role="tagsinput", name="specialist", value="JPG,GIF,PNG")
                    div(class="row align-items-center")
                      div(class="col-sm-6")
                        div(class="mb-3 mb-sm-0")
                          h6(class="fw-medium mb-1") Max File Size
                          p File size
                      div(class="col-sm-6")
                        div(class="localization-select ms-sm-auto mb-3 d-flex align-items-center mb-sm-0")
                          input(type="text", class="form-control", value="5000")
                          span(class="ms-2 text-gray-9") MB
