extends ../../layout/default.pug

block css
  //- animation CSS
  link(rel="stylesheet", href="/admin//admin/assets/css/animate.css")
  //- Quill CSS
  link(rel="stylesheet", href="/admin/assets/plugins/quill/quill.snow.css")
  //- Datetimepicker CSS
  link(rel="stylesheet", href="/admin/assets/css/bootstrap-datetimepicker.min.css")
  //- Datatable CSS
  link(rel="stylesheet", href="/admin/assets/css/dataTables.bootstrap5.min.css")
  //- Mobile CSS
  link(rel="stylesheet", href="/admin/assets/plugins/intltelinput/css/intlTelInput.css")
  link(rel="stylesheet", href="/admin/assets/plugins/intltelinput/css/demo.css")

block js
  //- Datatable JS
  script(src="/admin/assets/js/jquery.dataTables.min.js")
  script(src="/admin/assets/js/dataTables.bootstrap5.min.js")
  //- Datetimepicker JS
  script(src="/admin/assets/js/moment.min.js")
  script(src="/admin/assets/js/bootstrap-datetimepicker.min.js")
  //- Quill JS
  script(src="/admin/assets/plugins/quill/quill.min.js")
  //- Sticky-sidebar
  script(src="/admin/assets/plugins/theia-sticky-sidebar/ResizeSensor.js")
  script(src="/admin/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js")
  //- Validation
  script(src="/admin/assets/js/validation.js")
  //- Mobile Input
  script(src="/admin/assets/plugins/intltelinput/js/intlTelInput.js")

block main
  div(class="settings-content")
    div(class="page-header settings-pg-header")
      div(class="add-item d-flex")
        div(class="page-title")
          h4 Settings
          h6 Manage your settings on portal
      ul(class="table-top-head")
        li
          a(data-bs-toggle="tooltip", data-bs-placement="top", title="Refresh")
            i(class="ti ti-refresh")
        li
          a#collapse-header(data-bs-toggle="tooltip", data-bs-placement="top", title="Collapse")
            i(class="ti ti-chevron-up")
    div(class="row")
      div(class="col-xl-12")
        div(class="settings-wrapper d-flex")
          include ./partials/sidebar2.pug
          div(class="card flex-fill mb-0")
            div(class="card-header")
              h4(class="fs-18 fw-bold") Preference
            div(class="card-body")
              div(class="row")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") Maintenance Mode
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user1(type="checkbox", class="check", checked)
                          label(for="user1", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") Copoun
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user2(type="checkbox", class="check", checked)
                          label(for="user2", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") Offers
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user3(type="checkbox", class="check", checked)
                          label(for="user3", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") MultiLanguage
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user4(type="checkbox", class="check", checked)
                          label(for="user4", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") Multicurrency
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user5(type="checkbox", class="check", checked)
                          label(for="user5", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") SMS
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user6(type="checkbox", class="check", checked)
                          label(for="user6", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") Stores
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user7(type="checkbox", class="check", checked)
                          label(for="user7", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") Warehouses
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user8(type="checkbox", class="check", checked)
                          label(for="user8", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") Barcode
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user9(type="checkbox", class="check", checked)
                          label(for="user9", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") QR Code
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user10(type="checkbox", class="check", checked)
                          label(for="user10", class="checktoggle")
                div(class="col-xl-4 col-lg-6 col-md-4 col-sm-6")
                  div(class="card")
                    div(class="card-body")
                      div(class="d-flex align-items-center justify-content-between")
                        div
                          h5(class="fw-medium") HRMS
                        div(class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2")
                          input#user11(type="checkbox", class="check", checked)
                          label(for="user11", class="checktoggle")
              div(class="text-end settings-bottom-btn mt-0")
                button(type="button", class="btn btn-secondary me-2") Cancel
                button(type="submit", class="btn btn-primary") Save Changes
